.header {
  /* height: 60px;
  display: flex;
  align-items: center; */
  background: #131921;
  /* position: sticky;
  top: 0;
  z-index: 100; */
}
.header__container {
  height: 65px;
  display: flex;
  align-items: center;
  /* background: #131921; */
  position: sticky;
  top: 0;
  z-index: 100;
  width: 97%;
  max-width: 2000px;
  margin: auto;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 17px;
  padding: 10px;
  border: none;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  outline: none;
  font-size: 17px;
}
.header__searchIcon {
  padding: 6px;
  height: 25px !important;
  /* background: #cd9052; */
  background: #ffb951;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  transition: background 100ms ease-in;
}
.header__searchIcon:hover {
  background: #ffa724;
}
.header__optionLineOne {
  font-size: 10px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}
.header__basketCount {
  margin-right: 10px;
  margin-left: 10px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}
.link {
  text-decoration: none;
}
